body,
html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  background-color: #faea68;
  background-image: url(logo.svg);
  background-position: 5% center;
  background-repeat: no-repeat;
  background-size: 12%;
}

h1 {
  margin: 0 auto;
  align-self: center;
  color: black;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

img {
  width: 120px;
  height: 200px;
}

a { text-decoration: none; }

ul {
  margin-bottom: 10px;
  padding-left: 0;
  list-style-type: none;
}

pre {
  margin-top: 0;
  margin-bottom: 20px;
}

.bold { font-weight: 600; }

.italic { font-style: italic; }

.opacity { opacity: .3; }

blockquote {
  padding-left: 5px;
  color: grey;
  border-left: 4px solid green;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #444;
}

footer li { margin-bottom: 10px; }

.logo { height: 50px; }

.github-link {
  padding-right: 30px;
  color: white;
  text-decoration: underline;
  background-image: url(github.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right center;
}

.youtube-link {
  padding-right: 30px;
  color: white;
  text-decoration: underline;
  background-image: url(youtube.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right center;
}

small { display: block; }
